@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: custom-1;
  src: url(miama/Miama.ttf);
}

.shape{
  font-family: custom-1;
  font-style: italic;
  font-weight: 400;
  font-size: 6rem;
}

body {
  background-color: black;
  width: 80%;
  margin: 0 auto;
  border: 1px solid tomato;
}

/* shared styles */
.display-flex {
  display: flex;
}

.btn-primary {
  background-color: #E6533C;
  font-size: 1.125rem;
  font-weight: 500;
  color: #ffffff;
  padding: 16px 40px;
  border-radius: 42px;
  cursor: pointer;
}

.text-secondary {
  color: rgba(255, 255, 255, 0.5);
}

.text-color {
  color: #ffffff;
}

/* header styles */
.header {
  background-color: rgba(255, 255, 255, 0.1);
  /* max-height: 715px; */
  padding-left: 190px;
  padding-right: 190px;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
}

.web-name {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
}

.btn-container {
  border: 1px solid white;
  border-radius: 39px;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 47px;
}

.btn-container a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  padding-right: 24px;
}

.home {
  background-color: #E6533C;
  border-radius: 46px;
  padding: 8px 20px;
}

.content-title{
  color: #ffffff;
  font-size: 4.875rem;
  font-weight: 900;
  margin-bottom: 28px;
  margin-top: 97px;
}

.hcontainer{
  justify-content: space-between;
  gap: 160px;
}

.hcontent-text{
  align-content: flex-start;
  margin-top: 0;
  margin-bottom: 28px;
}
.down-btn{
  background-color: black;
  border: 1px solid white;
}
.box-1, .box-2{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 193px;
  height: 95px;
  padding: 16px 0;
  padding-left: 24px;
}
.box-1{
  position: relative;
  top: -480px;
  right: -230px;
}
.box-2{
  position: relative;
  top: -330px;
  left: -100px;
}
.box-1 h3{
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 5px;
}
.box-1 p{
  font-size: 0.8125rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

/* change habit section */
.change-habit-container{
  width: 80%;
  margin: 0 auto;
}
.box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 50px;
}

.chabit-text{
  text-align: center;
  margin-bottom: 3.6rem;
}
.chabit-text h1{
  font-weight: 900;
  font-size: 3rem;
  color: white;
  margin-bottom: 14px;
}

.card{
  text-align: center;
}
.card img{
  border: 1px solid white;
  border-radius: 50%;
}

/* run extra section */
.run-extra{
  width: 80%;
  margin: 0 auto;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.1);
}
.run-extra-container{
  display: flex;
  align-items: center;
  justify-items: space-between;
}

.run-extra-content{
  margin: 30px;
}
.run-extra-content h1{
  font-size: 3rem;
 font-weight: 900;
 margin-bottom: 14px;
}
.run-extra-content p{
  font-size: 0.875rem;
font-weight: 400;
}
.run-extra-img img{
  width: 366px;
  height: 312px;
  border-radius: 18px;
  margin: 30px;
}
/* Media query for small device */
@media screen and (max-width: 576px) {
  body{
    width: 100%;
    margin: 0 auto;
  }
  .header{
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
  .btn-container{
    display: none;
  }
  .hcontainer{
    flex-direction: column;
  }
  .box{
    grid-template-columns: repeat(1, 1fr);
  }
  .run-extra-container{
    flex-direction: column;
    width: auto;
  }
}